header {
    display:flex;
    justify-content:space-between;
    border: 3px solid #930dc1;
    background-color:#e10458;
}
h1{
    margin:10px;
}
header div{ 
    margin:10px;   
    width:40%;
    border:2px solid;
    background-color: #b60386;
}
nav{
    display:flex;
    justify-content: flex-end;
}

nav a{
    padding:5px;
    text-decoration:underline 2px;  
}
nav li{
    display:inline;
}
ul{
    list-style:none;
}

main{
    border:2px solid #b60386;
}
.image_background img{
    width:100%;
    height:170px;
   
}
/* move to the end of the container */
.sections_of_website section{
    display:flex;
    margin:10px;
    border:2px dashed whitesmoke;
}

h2{   
    margin:5px;
    width:15%;
    border:2px dotted purple;
    background-image: url("./Assets/geomet.jpg");
    background-size: contain;
 
}

/* content class will have a left border  */
.content{    
    margin:10px;
    width:80%;
    padding:15px;
    /* display:flex; */ 
    border-style: double double double solid;
    border-left-color: aqua;
}

.sections_of_website img{
    max-height: 200px;
    border:2px solid lavender;
}

.secondary_images,.primary_image{
    display:flex;
    /* width:100%; */
}
.firstrow{
    position:relative;
    width:100%;
}

.project_pic1{  
    margin:5px;
    width:47%;
    height:100%;
    object-fit:cover;
 
}
.secondrow{
  position:relative;
    margin:5px;
    width:100%;

}
 .project_pic{  
    width:100%;
} 
.section_1,.section_2{
    position:relative;
    margin:5px;
    justify-content: space-between;
 
}
 .project_pic2{
    width:500px;
}  
.project_pic, .project_pic2, .project_pic1{
    opacity:0.5;
    position: relative;
}

.first_text{
    background-color: blueviolet;
    position:absolute;
    padding:10px;
    bottom:20%;
    left:.5%;
}
.project_pic:hover, .project_pic1:hover, .project_pic2:hover{
    opacity: initial;
}

.social_contacts{
    display:flex;
    justify-content:center; 
    gap:1rem;
    margin-top:.5rem; 
}


.social_contacts img{
    display:block;
    height:24px;
    width:24px;

}

@media screen and (max-width: 400px) {
    .section_1, .section_2{
        display:block;
    
    }
  }


  

/* CREATE A CARD DISPLAY FOR THE IMAGES FOR WHEN THE WEBSITE IS RESIZED */
/* Create a fading effect for the pictures and add a text box to the image */
/* yellow box figure out the spacing */