/*  */
header {
    display:flex; 
    justify-content:space-between;
    border: 3px solid #930dc1;
    background-color:#e10458;
}
h1{
    margin:10px;
}

header div{ 
    margin:10px;   
    width:40%;
    border:2px solid;
    background-color: #b60386;
}
/* Makes the nav portion a flex container */
nav{
    display:flex;
    justify-content: flex-end;
}
/* gives the anchor tags a underline */
nav a{
    padding:5px;
    text-decoration:underline 2px;  
}
/* Moves the list items to an inline display different from default block format */
nav li{
    display:inline;
}
/* Removes list bullet points */
ul{
    list-style:none;
}

main{
    border:2px solid #b60386;
}
.image_background img{
    width:100%;
    height:170px;
   
}
/* */
.sections_of_website section{
    display:flex;
    margin:10px;
    border:2px dashed whitesmoke;
}
 .work_content{
    flex-direction:column;
} 
.multiple_item_row{
    display:flex;
    flex-direction:row;
}
h2{   
    margin:5px;
    width:15%;
    border:2px dotted purple;
    background-image: url("./Assets/geomet.jpg");
    background-size: contain;
 
}
aining work and about content  */
.work_content, .about_content, .contact_me_content{    
    margin:10px;
    width:80%;
    padding:15px;
    display:flex;  
    border-style: double double double solid;
    border-left-color: aqua;
}

.sections_of_website img{
    max-height: 200px;
    border:2px solid lavender;
}

.first_item{
    position:relative;
    width:100%;
}
.first_item_of_LPR{
  position:relative;
    margin:5px;
    width:100%;

}
.item_1,.item_2{
    position:relative;
    margin:5px;
    justify-content: space-between;
 
}
/*  */
.project_pic1{  
    margin:5px;
    width:47%;
    height:100%;
    object-fit:cover;
 
}

 .project_pic{  
    width:100%;
} 

 .project_pic2{
    width:500px;
}  
.project_pic, .project_pic2, .project_pic1{
    opacity:0.5;
    position: relative;
}
.project_pic:hover, .project_pic1:hover, .project_pic2:hover{
    opacity: initial;
}
/*  */
.text_box_tag{
    background-color: blueviolet;
    position:absolute;
    padding:10px;
    bottom:20%;
    left:.5%;
   
}

/*  */
.social_contacts{
    display:flex;
    justify-content:center; 
    gap:1rem;
    margin-top:.5rem; 
}


.social_contacts img{
    display:block;
    height:24px;
    width:24px;

}

@media screen and (max-width: 400px) {
    .multiple_item_row, header{
        display:block;
    
    }
    .text_box_tag{
        font-size:10px;
    }
    
  }


  
